/* #DBA500 */
:root{
    --firstColor: #0556F3;
    --textColor: #25265E;
}

body {
    color: var(--textColor);
    font-family: 'Courier New', Courier, monospace;
}

ul, a {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

h1 {
    text-align: center;
    width: max-content;
    margin: 10px auto;
    padding: 0;
    border-bottom: 2px solid var(--firstColor);
}

.container {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.active {
    color: var(--firstColor) !important;
    position: relative;
}
.active::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: var(--firstColor);
}

.title .list{
    display: flex;
    column-gap: 10px;
    list-style: none;
}
.title .list li button {
    position: relative;
    color: var(--textColor);
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    border: none;
    background: transparent;
    transition: all 0.4s;
    -webkit-transition:all 0.4s;
    -moz-transition:all 0.4s;
    -ms-transition:all 0.4s;
    -o-transition:all 0.4s;
}

.title .list li button:hover {
    color: var(--firstColor);
}

.title .list li button::before {
    position: absolute;
    content: "";
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: var(--firstColor);
    transition: width 0.4s;
    -webkit-transition: width 0.4s;
    -moz-transition: width 0.4s;
    -ms-transition: width 0.4s;
    -o-transition: width 0.4s;
}

.title .list li:hover button::before {
    width: 100%;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.content .text {
    width: 90%;
    height: 85vh;
    background-color: var(--firstColor);
    color: #fff;
    font-size: 1.3rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 4px 2px var(--textColor);
}

.content .text .text-status {
    width: 100%;
    position: absolute;
    top: 20px;
    display: flex;
    justify-content: space-around;
}

.content .text .text-status .status {
    position: absolute;
    color: rgb(7, 238, 7);
    opacity: 0;
    transition: opacity 0.4s;
    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    -ms-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    background-color: var(--firstColor);
}

.content .text .count-times {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    box-shadow: 2px 2px 4px 2px var(--textColor);
}

.content .text .text-zekr {
    text-align: center;
    width: 70%;
    padding: 10px;
}

.content .text .next,.content .text .previous {
    position: absolute;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    border: 0;
    font-size: 3rem;
    bottom: 50%;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
}

.content .text .next {
    left: 0;
}

.content .text .previous {
    right: 0;
}

.content .text .next span ,.content .text .previous span {
    padding: 5px;
}

.content .text .number-zekr {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    box-shadow: 2px 2px 4px 2px var(--textColor);
    padding: 10px;
}


.content .text .number-zekr .show-number {
    display: inline-block;
}

.content .counter {
    position: absolute;
    bottom: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    column-gap: 10px;
}

.counter .button {
    box-shadow: 2px 2px 4px 2px var(--textColor);
    transition: box-shadow 0.4s;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    -webkit-transition: box-shadow 0.4s;
    -moz-transition: box-shadow 0.4s;
    -ms-transition: box-shadow 0.4s;
    -o-transition: box-shadow 0.4s;
}

.counter .button .btn {
    width: 70px;
    height: 70px;
    background-color: var(--firstColor);
    color: #fff;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border: 0;
    cursor: pointer;
    transition: box-shadow 0.4s;
    -webkit-transition: box-shadow 0.4s;
    -moz-transition: box-shadow 0.4s;
    -ms-transition: box-shadow 0.4s;
    -o-transition: box-shadow 0.4s;
}

.btn:hover {
    box-shadow: 2px 2px 4px 2px inset var(--textColor);
}

.shadow {
    box-shadow: 2px 2px 4px 2px var(--textColor);
}